.envrc
bot.session
cookies.txt
.direnv
.ropeproject
.ruff_cache
bot.session-journal
__pycache__
.vscode
*.mp4
*.webm
*.mkv
*.jpg
.DS_Store
.glimpse
gallery_dl_downloads
instacookies.txt
allowed-users.txt
config.json
userbot.session
userbot.session-journal
userbot.session-wal
endgame.db
endgame.db-journal
endgame.db-shm
endgame.db-tshm
endgame.db-wal

# Added by cargo

/target
