.envrc
bot.session
cookies.txt
.direnv
.ropeproject
.ruff_cache
bot.session-journal
__pycache__
.vscode
*.mp4
*.webm
*.mkv
*.jpg
.DS_Store
.glimpse
gallery_dl_downloads
instacookies.txt
userbot.session
userbot.session-journal
